
[submodule "_posts/Learning_Notes"]
	path = _posts/Learning_Notes
	url = https://github.com/franciscomesquitaAI/Learning_Notes.git
[submodule "Projects/Drowsiness-Detection"]
	path = Projects/Drowsiness-Detection
	url = https://github.com/franciscomesquitaAI/Drowsiness-Detection
[submodule "Projects/Hearth-Disease-Interpretability-Research"]
	path = Projects/Hearth-Disease-Interpretability-Research
	url = https://github.com/franciscomesquitaAI/Hearth-Disease-Interpretability-Research/
[submodule "Projects/CNN-Interpretation"]
	path = Projects/CNN-Interpretation
	url = https://github.com/franciscomesquitaAI/CNN-Interpretation
[submodule "Projects/AI_Travel_Assistant"]
	path = Projects/AI_Travel_Assistant
	url = https://github.com/franciscomesquitaAI/AI_Travel_Assistant.git
